{% extends 'chat/base.html' %}

{% block content %}
<div class="chatroom-wrapper">
    {% include 'chat/chatroom_header.html' with header_text=room.name %}
    <div class="messages-container" id="messages-container">
        <ul class="messages-list" id="messages-list">
        {% for message in room.messages.all %}
            {# Automatically renders existing messages #}
            {% include 'chat/message.html' with user=user message=message %}
        {% endfor %}
        </ul>
        {% include 'chat/message_submit.html' %}
    </div>
</div>

<script>
    let container = $('#messages-container');

    ajax_form('#message-form', function(data) {
        $('#messages-list').append(data);
        container.scrollTop(container.prop("scrollHeight"));
    });
    check_for_messages();
</script>
{% endblock %}
